// src/styles/ArchivedMessagesPanel.scss

.archived-panel-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: $primary-color;
    text-align: center;
    margin-bottom: 20px;
}

.archived-messages-list {
    list-style-type: none;
    padding: 0;

    .unarchive {
        background-color: orange;
        border: none;
        color: white;
        border-radius: .3rem;
        padding: .5rem;
        margin: .2rem;
        cursor: pointer;
        transition: all .2s;
    }

    .unarchive:hover {
        background-color: rgb(248, 193, 91);

    }

    .delete {
        background-color: rgb(205, 3, 3);
        border: none;
        color: white;
        border-radius: .3rem;
        padding: .5rem;
        margin: .2rem;
        cursor: pointer;
        transition: all .2s;
    }

    .delete:hover {
        background-color: rgb(248, 91, 91);

    }

    li {
        background-color: $secondary-color;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 15px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: lighten($secondary-color, 10%);
        }

        p {
            margin: 5px 0;
            font-size: 16px;

            &:first-child {
                font-weight: bold;
            }
        }

        button {
            &.unarchive-button {
                background-color: #FFC107;
                color: white;
                border: none;
                padding: 10px 15px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 14px;
                margin-right: 10px;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: darken(#FFC107, 10%);
                }
            }

            &.delete-button {
                background-color: $delete-color;
                color: white;
                border: none;
                padding: 10px 15px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 14px;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: darken($delete-color, 10%);
                }
            }
        }
    }
}
