.panel-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: $primary-color;
    text-align: center;
    margin-bottom: 20px;
}

.messages-list {
    list-style-type: none;
    padding: 0;

    li {
        background-color: $secondary-color;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 15px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: lighten($secondary-color, 10%);
        }

        p {
            margin: 5px 0;
            font-size: 16px;

            &:first-child {
                font-weight: bold;
            }
        }

        button {
            background-color: $delete-color;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken($delete-color, 10%);
            }
        }
    }
}


// estilos para la busqueda
.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

// estilos filtrado

// src/styles/MessagesPanel.scss

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  
    .filter-button, .refresh-button {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.3s ease;
  
      &.active {
        background-color: darken(#4CAF50, 10%);
      }
  
      &:hover {
        background-color: darken(#4CAF50, 10%);
      }
    }
  
    .refresh-button {
      background-color: #FFC107;
      &:hover {
        background-color: darken(#FFC107, 10%);
      }
    }
  }

  .archive-all-button {
    background-color: brown;
    border: none;
    border-radius: .3rem;
    color: white;
    padding: .3rem;
    transition: all .2s;
    cursor: pointer;
  }

  .archive-all-button:hover {
    background-color: rgb(216, 73, 73);
  }
  
  