@import "variables.scss";
@import "ppanel.scss";
@import "login.scss";
@import "archivedMessages.scss";
@import "app.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: $secondary-color;
    color: $font-color;
    margin: 0;
    padding: 0;
  }